[submodule "personal"]
	path = personal
	url = git@github.com:yobiscus/dotfiles.nix-personal
[submodule "wm"]
	path = wm
	url = git@github.com:yobiscus/dotfiles.nix-wm
[submodule "work"]
	path = work
	url = git@github.com:yobiscus/dotfiles.nix-work
